
.text-in-form {
border: 2px solid gray; 
background-color: #e3f2fd;
 border-radius: 8px; 
font-weight: normal;
 margin-right: 1em;
 font-size: 50px;
}
.form-card{
    border: 2px solid black;
    width: 80rem; margin: auto; 
     font-size: 30px; 
    font-family:Sans-serif;
}

.index-div {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -600px 0 0 -1150px;
    font-size: 30px;
}

