
* {
    box-sizing: border-box;
}

.field{
    font-size: 36px; 
    color: #b3b1b1;
    font-family: "Times New Roman",
    Times,
    serif;
}

h1 {
    color: white;
}
.container {
// background: #b3b1b1;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
