<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

   
 <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to('follow up schedules', follows_path, class: 'nav-item nav-link active') %>
      </li>
<li><% if user_signed_in? %>

  <%= link_to('Sign Out',  destroy_user_session_path, method: :delete ,class: 'nav-item nav-link active') %>
<% end %></li>
    </ul> 

  </div>
</nav>